<div class="container color-dark">
  <div class="col">
    <p> Add a bucket list item </p>
  </div>
</div>
<div class="container color-dark">
  <div class="col">
    
  </div>
  <p> Your bucket list ({{ itemCount }}) </p>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm"> Ues this form below to add a new bucket list item. </p>
    <form>
      <input type="text" class="txt" name="item" placeholder="Life Goal..." [(ngModel)] = goalText />
      <br>
      <span> {{goalText}} </span>
      <input type="submit" class="btn" [value]= btnText />

    </form>
  </div>
  <div class="col">
    <p class="life-container"> Climb Mountain</p>
  </div>
</div>